/Debug/
/Release/
/.e2-workspace/
/ra/
/ra_cfg/
/ra_gen/
/script/
/.settings/*
!/.settings/com.renesas.cdt.ddsc.contentgen.options.prefs
!/.settings/com.renesas.cdt.managedbuild.gnuarm.prefs
!/.settings/org.eclipse.core.resources.prefs
/.module_descriptions/
/ra_cfg.txt
/*.jlink
/*.launch
/*Log.log
/compile_commands.json
/.api_xml
/.clangd
/.secure_*
